:root {
  --c-light: #ffffff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 0;
  padding-left: 0; */

  width: 1110px;
}

/* Buttons */

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
/* MAIN */

.header-hero-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: grey;
}

/* header */

.header-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  fill: aquamarine;
}
