:root {
  --c-grey: #e0e0e0;
  --c-red: #f6404f;
  --c-dark: #2e373b;
  --c-light: #ffffff;

  --bg-yellow: #ffc41e;
  --bg-blue: #2378fc;
  --bg-cream: #faf3e3;
  --bg-teal: #30bcc9;
  --bg-red: #f6404f;

  --main-font: Circe;
  --title-font: Plumb;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  margin: 0;
  font-family: var(--main-font), sans-serif;
  color: var(--c-light);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 0;
  padding-left: 0; */

  width: 1110px;
}

/* Buttons */

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
}
/* MAIN */

.header-hero-bg {
  max-width: 1920px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: grey;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 180px;
  border-bottom: 1px solid var(--c-light);
}

.logo {
  display: block;
  height: 24px;
  margin-right: 310px;
}

.header-nav-list {
  display: flex;
}

.header-nav .link {
  color: var(--c-light);
  font-size: 16px;
  line-height: 135%;
  text-align: center;
}

.header-nav-list .item + .item {
  margin-left: 50px;
}

.search-lang-list {
  display: flex;
}

.header-btn-search {
  fill: var(--c-light);
  margin-right: 70px;
}

.header-btn-lang {
  color: var(--c-light);
  font-size: 16px;
  line-height: 135%;
}

/* .hero-title {
  font-family: Plumb-bold;
  font-size: 64px;
  line-height: 160%;
  text-transform: uppercase;
}
.visitors-help-blocks-title {
  font-family: var(--title-font);
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: red;
} */
