:root {
  --c-grey: #e0e0e0;
  --c-red: #f6404f;
  --c-dark: #2e373b;
  --c-light: #ffffff;
  --c-yellow: #ffc41e;

  --bg-yellow: #ffc41e;
  --bg-blue: #2378fc;
  --bg-cream: #faf3e3;
  --bg-teal: #30bcc9;
  --bg-red: #f6404f;

  --c-border: #eeeeee;

  --main-font: Circe;
  --title-font: Plumb;

  --animation: 250ms ease-in-out;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  margin: 0;
  font-family: var(--main-font), sans-serif;
  color: var(--c-light);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

a {
  margin: 0;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 0;
  padding-left: 0; */

  width: 1110px;
}

/* Buttons */

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}
/* MAIN */

.header-hero-bg {
  max-width: 1920px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: grey;
}

/* header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 180px;
  border-bottom: 1px solid var(--c-light);
}

.logo {
  display: block;
  height: 24px;
}

.header-nav-list {
  display: flex;
}

.header-nav .link {
  color: var(--c-light);
  font-size: 16px;
  line-height: 135%;
  text-align: center;
}

.header-nav-list .item + .item {
  margin-left: 50px;
}

.search-lang-list {
  display: flex;
}

.header-btn-search {
  fill: var(--c-light);
  margin-right: 70px;
}

.header-lang-icon {
  margin-right: 10px;
}

.header-btn-lang {
  color: var(--c-light);
  font-size: 16px;
  line-height: 135%;
  fill: var(--c-light);
}

/* Hero section */

.hero-box {
  display: flex;
  justify-content: space-between;
  padding-top: 200px;
  padding-bottom: 50px;
}

.hero-info {
  flex-basis: calc(50% - 76px);
  height: 200px;
}

.hero-title {
  font-family: Plumb-bold;
  font-size: 55px;
  line-height: 90%;
  text-transform: uppercase;
  margin: 0 0 35px 0;
}

.hero-txt {
  font-size: 24px;
  line-height: 140%;
  max-width: 350px;
  margin-bottom: 25px;
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  fill: var(--c-light);
  color: var(--c-light);
}

.hero-btn-icon-arrow {
  margin-left: 10px;
}

.hero-nav {
  flex-basis: calc(50% - 76px);
  margin-top: 95px;
}

.hero-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.hero-nav .item {
  padding: 30px 40px 30px 40px;
  flex-basis: calc((100% - 30px) / 2);
}

.hero-nav .item:nth-child(1) {
  background-color: var(--bg-blue);
  height: 150px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.hero-nav .item:nth-child(2) {
  background-color: var(--bg-teal);
  height: 150px;
  margin-bottom: 30px;
}

.hero-nav .item:nth-child(3) {
  background-color: var(--bg-yellow);
  height: 175px;
  margin-right: 30px;
}

.hero-nav .item:nth-child(4) {
  background-color: var(--bg-red);
  height: 175px;
}

.hero-nav-title {
  font-family: Plumb;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--c-light);
  margin-bottom: 15px;
}

.hero-nav-btn {
  display: inline-flex;
  align-items: center;
  color: var(--c-light);
  font-size: 14px;
  line-height: 135%;
  fill: var(--c-light);
}

/* Visitors-help section */

.visitors-help {
  background-color: var(--bg-blue);
  max-width: 1920px;
}

.visitors-box {
  padding: 75px 0 75px 0;
}

.visitors-help-blocks {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.visitors-help-blocks-title {
  font-family: Plumb;
  font-style: normal;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.visitors-help-list .button {
  font-size: 16px;
  line-height: 135%;
  color: var(--c-light);
  text-decoration: none;
  transition: color var(--animation), text-decoration var(--animation);
}

.visitors-help-list .item:not(:last-child) {
  margin-bottom: 15px;
}

.visitors-help-list .norm {
  text-align: left;
}

.visitors-help-list .button:hover {
  color: var(--c-yellow);
  text-decoration: underline;
}

/* Ivents section */

.ivents {
  background-color: var(--bg-yellow);
  max-width: 1920px;
}

.ivents-box {
  padding: 75px 0 75px 0;
}

.ivents-title-box {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 55px;
  width: 100%;
}

.ivents-title {
  font-family: Plumb;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--c-dark);
}

.ivents-title-btn {
  display: inline-flex;
  align-items: center;
  padding: 0 13px 0 13px;
  width: 190px;
  height: 40px;
  font-family: Plumb;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  color: var(--c-dark);
  fill: var(--c-dark);
  background-color: transparent;
  border-radius: 0;
  transition: background-color var(--animation), border-radius var(--animation);
}

.ivents-title-btn-icon {
  margin-left: 15px;
}

.ivents-title-btn:hover {
  border-radius: 4px;
  background-color: var(--bg-blue);
}

.ivents-list {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.ivents-list .item:nth-child(3n) {
  margin-right: 0;
}

.ivents-list .item {
  flex-basis: calc((100% - 60px) / 3);
  margin-right: 30px;
  transition: box-shadow var(--animation);
}

.ivents-list .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ivents-list .item:nth-child(1),
.ivents-list .item:nth-child(2) {
  margin-bottom: 40px;
}

.ivents-list .item:nth-child(3) {
  margin-bottom: 18px;
}

.ivents-list img {
  display: block;
}

.ivents-card-bot-box {
  padding-top: 20px;
}

.ivents-list .item:hover + .ivents-card-bot-box {
  border-right: 1px solid var(--c-border);
  border-bottom: 1px solid var(--c-border);
  border-left: 1px solid var(--c-border);
}

.ivents-date {
  font-size: 14px;
  line-height: 135%;
  color: var(--c-dark);
}

.ivents-card-title {
  margin-top: 10px;
  font-family: Plumb;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 105%;
  letter-spacing: -0.01em;
  color: var(--c-red);
}

.ivents-card-descr {
  margin-top: 10px;
  font-size: 16px;
  line-height: 135%;
  color: var(--c-dark);
}

/*  News section */

.news {
  max-width: 1920px;
  background-color: var(--bg-cream);
}

.news-box {
  display: flex;
  justify-content: space-between;
  padding: 75px 0 85px 0;
}

.news-foto {
  display: flex;
  flex-direction: column;
}

.news-foto-img {
  margin-bottom: 60px;
}

.news-paper-box {
  width: 540px;
}

.news-paper-title-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.news-paper-title {
  font-family: Plumb;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 105%;
  letter-spacing: -0.01em;
  color: var(--c-dark);
}

.news-paper-btn {
  display: inline-flex;
  align-items: center;
  padding: 0 18px 0 18px;
  width: 190px;
  height: 40px;
  color: var(--c-dark);
  font-family: Plumb;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  transition: background-color var(--animation), border-radius var(--animation);
}

.news-paper-btn:hover {
  border-radius: 4px;
  background-color: var(--bg-yellow);
}

.news-list .link {
  display: inline-flex;
}

.news-list .item:not(:last-child) {
  margin-bottom: 30px;
}

.news-list-descr {
  margin-left: 0;
  padding-left: 30px;
  border-top: 1px solid var(--c-border);
  border-right: 1px solid var(--c-border);
  border-bottom: 1px solid var(--c-border);
}

.news-date {
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 135%;
  color: var(--c-red);
}

.news-txt {
  font-family: Plumb;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--c-dark);
}

/* FOOTER */

.footer {
  max-width: 1920px;
  background: var(--bg-teal);
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 70px 0;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav-list .menu {
  width: 200px;
  margin-right: 30px;
}

.footer-nav-list .menu:nth-child(1),
.footer-nav-list .menu:nth-child(2) {
  margin-bottom: 40px;
}

.footer-nav-list .menu:nth-child(3) {
  margin-bottom: 20px;
}

.footer-nav-list-title {
  margin-bottom: 20px;
  font-family: Plumb;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--c-light);
}

.fotter-nav-list-links a {
  font-size: 14px;
  line-height: 135%;
  color: var(--c-light);
}

.fotter-nav-list-links .item:not(:last-child) {
  margin-bottom: 10px;
}

.app-store-logo {
  margin-bottom: 16px;
}

.footer-socials-follow {
  width: 255px;
}

.socials-list {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.footer-socials-title {
  margin-bottom: 30px;
  font-family: Plumb;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.formfield {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 255px;
}

.footer-label-title {
  margin-bottom: 15px;
  font-family: Plumb;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: var(--c-light);
}

.footer-input-txt {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 135%;
  color: var(--c-light);
}

.footer-input {
  padding: 13px 20px 13px 20px;
  width: 100%;
  height: 40px;
  border: none;
}

.footer-input::placeholder {
  font-size: 12px;
  line-height: 135%;
  color: var(--c-grey);
}

.icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
  background-color: var(--bg-red);
}

.footer-input-icon {
  fill: var(--c-light);
}

/* Read more */

.test-case {
  width: 290px;
  
}

.read-more-state {
  display: none;
}


.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Read more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Less";
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  font-family: Caveat Brush;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 55px;
  color: #ab816c;
  background-color: transparent;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 2%;
  background: #ffffff;
  color: #141413;
}

@media screen and (min-width:768px) {
  .test-case {
    width: 300px;
  }
}

@media screen and (min-width:1280px) {
  .test-case {
    width: 390px;
  }
}


